<div class="ourservice js-ourservice">
    <div class="ourservice-title">
        <h2>
            <p class="tten">OUR SERVICE</p>
            <p class="ttcn">我们的服务</p>
        </h2>
    </div>

    <div class="ourservice-content js-ourservice-content">
       <ul>
           <li class="item">
                <div class="img">
                    <i class="sale"></i>
                </div>
                <h3 class="tt">高效卖车 足不出户</h3>
                <p class="ct">1天结拍, 当天完成交易</p>
                <p class="ct">为您节省不必要的比价时间</p>
            </li>

            <li class="item">
                <div class="img">
                    <i class="contrast"></i>
                </div>
                <h3 class="tt">价比千家 省时省心</h3>
                <p class="ct">超过3000专业买家在线</p>
                <p class="ct">实时出价竞拍, 不赚差价</p>
            </li>

            <li class="item">
                <div class="img">
                    <i class="safe"></i>
                </div>
                <h3 class="tt">安全保障 急速打款</h3>
                <p class="ct">通过诚信体系保障资金安全</p>
                <p class="ct">签约后极速打款，实时到账</p>
            </li>

            <li class="item">
                <div class="img">
                    <i class="free"></i>
                </div>
                <h3 class="tt">全程免费 优质服务</h3>
                <p class="ct">代办所有手续, 全程0费用</p>
                <p class="ct">让您享受一站式贴心服务</p>
            </li>
       </ul>
    </div>
</div>
