<div class="onlineMsg-wrap">
	<div class="onlineMsg">
		<h2>在线留言</h2>
		<div class="onlineMsg-box">

			<p class="onlineMsg-box-radio first">
				<span class="onlineMsgRaido">
					<input type="radio" id="male" checked="checked" name="sex" value="male">
					<label class="checked js-pbl-consuleRadio" name="man" for="male">先生</label>
				</span>

		        <span class="onlineMsgRaido">
		            <input type="radio" id="female" name="sex" value="female">
		            <label class="js-pbl-consuleRadio" name="female" for="female">女士</label>
		   		</span>
			</p>

			<p class="onlineMsg-box-name">
				<em>姓名 :</em><input type="text" name="username" class="js-pbl-consule-username" autocomplete="off">

			</p>

			<p class="onlineMsg-box-name">
				<em>电话 :</em><input maxlength="11" type="text" name="usertel" class="js-pbl-consule-tel" autocomplete="off">
			</p>

			<p class="onlineMsg-box-content">
				<em>咨询内容 :</em><textarea name="commentct" class="js-pbl-consule-comment  messagect" maxlength="2000" autocomplete="off"></textarea>
			</p>

			<p class="onlineMsg-box-btn">
				<button class="js-pbl-consule-btn" >提交</button>
			</p>
		</div>
		<div class="onlineMsg-close js-close"></div>

	</div>
</div>
