
//_color



//main
//main background
$cl-bg : #ffffff;

//main orange
$cl-og : #ff3000;

//white font
$cl-wt : #ffffff;

//main font
$cl-main : #3c3c3c;

//main auxiliary, applies to some font and background
$cl-aux : #808080;

//main border
$cl-bd : #dbdbdb;

// new index font color
$cl-yl: #ff6b1d;

// antoher yellow color
$cl-ayl: #f69f00;

// blue
$cl-bl : #0181e9;



// combine orange and red 
$cl-or : #fe461c;


//auxiliary
//auxiliary orange
$cl-aux--og : #ff6932;

//auxiliary fafafa
$cl-aux--fa : #fafafa;

//auxiliary f5f5f5
$cl-aux--f5 : #f5f5f5;

//auxiliary ebebeb;
$cl-aux--eb : #ebebeb;



//tab (1 dark, 4 lights)
//tab orange
$cl-tab--og--dk : #ef7125;

//tab light orange
$cl-tab--og : #f0a37e;

//tab light green
$cl-tab--grn : #7cc294;

//tab light blue
$cl-tab--bl : #8ac1df;

//tab light yellow
$cl-tab--yl : #f7c780;
