@import "function-active";
@import "function-valuate";
@import "function-history";


.function{
    width: 100%;

    &-title{
        width: 100%;
        background: $cl-bg;
        border-bottom: 1px solid $cl-bd;
        
        ul{
            width: 92%;
            margin: 0 auto;
        }

        .item{
            position: relative;

            float: left;

            width: 30.6%;
            height: 5rem;

            line-height: 5rem;

            text-align: center;

            font-size: 1.6rem;

            &.current{
                &::after{
                    position: absolute;
                    content: "";
                    bottom: 0;
                    display: inline-block;

                    width: 30.6%;
                    height: 0.3rem;

                    background-color: #eb5405;
                    color: #eb5405;
                }
            }
        }
    }
}
