<div class="step">

    <p class="step-title m-section-tt"><span>轻松四步 完成交易</span></p>

    <div class="step-box">
        <div class="step-box-small even">
            <div class="title">
                <i class="num num01"></i>
                <div class="tt">
                    <p class="en">Advance Appointment</p>
                    <p class="ct">预约卖车</p>
                    <p class="info">线上预约 简单方便</p>
                </div>
            </div>
            <div class="img">
                <img src="__PUBLIC__/prd/img/sale/sale-step-pic01.jpg">
            </div>
        </div>

        <div class="step-box-small odd">

            <div class="img">
                <img src="__PUBLIC__/prd/img/sale/sale-step-pic02.jpg">
            </div>

            <div class="title">
                <i class="num num02"></i>
                <div class="tt">
                    <p class="en">Onsite Service</p>
                    <p class="ct">上门检测</p>
                    <p class="line"></p>
                    <p class="info">免费服务 轻轻松松</p>
                </div>
            </div>
        </div>
    </div>

    <div class="step-box">
        <div class="step-box-small even">
            <div class="title">
                <i class="num num03"></i>
                <div class="tt">
                    <p class="en">Online Auction</p>
                    <p class="ct">在线竞拍</p>
                    <p class="line"></p>
                    <p class="info">足不出户 线上比价</p>
                </div>
            </div>
            <div class="img">
                <img src="__PUBLIC__/prd/img/sale/sale-step-pic03.jpg">
            </div>
        </div>

        <div class="step-box-small odd">
            <div class="title">
                <i class="num num04"></i>
                <div class="tt">
                    <p class="en">Close Deal</p>
                    <p class="ct">签约成交</p>
                    <p class="line"></p>
                    <p class="info">签订合同 完成交易</p>
                </div>
            </div>
            <div class="img">
                <img src="__PUBLIC__/prd/img/sale/sale-step-pic04.jpg">
            </div>
        </div>
    </div>
</div>
